*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-family: 'Kumbh Sans';
}

/*Navbar Section*/
.navbar{
    background: #1A1A2E;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    
    
    
}
.NavbarContainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#NavbarLogo{
    background-color: #E94560;
    background-image: linear-gradient(to top, #df1818 0%, #ffb1 100%);
    background-size: 100%; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mos-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight:bold;
}

.fa-gem {
    margin-right: 0.5rem;
}

.NavbarMenu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.NavbarItem{
    height: 80px;
}

.NavbarLinks{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.NavbarBTN{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    font-size: 1rem;
}

.button{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 10px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #E94560;
    color: #fff;
}

.button:hover{
    background: #0f3460;
    transition: all 0.3s ease;
}


.NavbarLinks:hover{
    color: #E94560;
    transition: all 0.3s ease;
}


/*Home Section*/
.Home {
    background-color: #16213E;
    
}
.HomeContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #16213E;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.HomeContent h1{
    font-size: 30px;
    background-color: #E94560;
    /*background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.HomeContent h2{
    font-size: 3rem;
    background-color: #fff;
    /*background-image: linear-gradient(to top, #E94560 0%, #1A1A2E 100%);
    background-size: 100%;*/
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.HomeImgContainer {
    text-align: center;
}

#HomeImg {
    height: 60%;
    width: 70%;
}

/* About Section*/
.About {
    background-color: #16213E;
}
.AboutContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    z-index: 1;
    padding: 0px 50px;
    margin: 0 auto;
}
.AboutContentLeft {
    text-align: center;
    margin: 50px;
}
.AboutContentLeft h1 {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.AboutBTN {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%,#fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.AboutBTN a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}
.AboutBTN:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0f3460;
    transition: all 0.35s;
    border-radius: 4px;
}
.AboutBTN:hover {
    color: #fff;
}
.AboutBTN:hover:after {
    width: 100%;
}
.AboutContentRight span {
    color:#039494;
    font-size: 2rem;
}
.AboutContentRight ul {
    font-size: 1.5rem;
    color: #fff;;
    align-items: center;
    padding: 0 0 0 50px;
}

/*Experience Section*/
.Exp {
    background-color:#16213E;
}
.ExpContainer {
    padding: 50px 50px;
}
.ExpContainer h1 {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.ExpContainer h2 {
    font-size: 15px;
    color: #fff;
    margin-top: 30px;
}
.ExpHeading {
    color: #E94560;
    font-size: 1.5rem;
}
.ExpContainer li {
    color: #fff;
    font-size: 20px;
}

/*Skills Section*/
.Skills {
    background-color: #16213E;
}
.SkillsContainer {
    padding: 50px 50px;
    text-align: center;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: .5fr 1.25fr 1.25fr;
    
}
.SkillsDiv {
    margin-top: 60px;
}
.Skills span {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}
.SkillsHeading {
    color: #fff;
    font-size: 2rem;
    margin-top: 20px;
}
.SkillsList { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-wrap: wrap; 
    align-items: center; 
    margin-top: 11px; 
    justify-content: center;
}
.SkillsList li{ 
    display: inline-block; 
    font-size: 16px; 
    padding:10px 20px; 
    background-color: #E94560; 
    border: 4px solid #970f26;
    border-radius: 27px; 
    margin-right: 15px; 
    margin-bottom: 15px;  
    font-weight: 500;
    color:#fff
}

/*Footer Section*/
.Footer {
    background-color: #1A1A2E;
    text-align: center;
}
.FooterContainer {
    text-align: center;
    padding: 50px 20px;
    min-height: 300px
}
.FooterContainer h1 {
    font-size: 2.5rem;
    margin: auto 50px 50px 50px;
}
.FooterContainer a {
    display: flex;
    padding: 0 20px;
    color: #E94560;
    display: inline-block;
    font-size: 2rem;
}


/*Mobile Responsive*/
@media screen and (max-width: 1080px) {
    .NavbarContainer{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0; 
    }
    .NavbarMenu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index:-1;
        background: #1A1A2E;
    }
    .NavbarMenu.active {
        background: #1A1A2E;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        height: 70vh;
        font-size: 1.6rem;

    }
    #NavbarLogo {
        padding-left: 25px;
    }
    .NavbarToggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }
    .NavbarItem {
        width:100%
    }
    .NavbarLinks {
        text-align: center;
        padding: 1rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .NavbarBTN{
        padding-bottom: 2rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 80px;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .NavbarToggle .bar{
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /*About Section*/
    .AnoutContainer {
        padding: 50px 50px;
    }
    .AboutContentRight {
        align-items: center;
        padding: 0 0 0 50px;
    }
    /*Skills Section*/
    .SkillsContainer {
        display:grid;
        grid-template-columns: 1fr;
    }
}


@media screen and (max-width: 768px) {

    /*Home Section*/
        .HomeContainer{ 
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 130vh;
            
        }
        .HomeContent {
            text-align: center;
            margin-bottom: 4rem;
        }
        .HomeContent h1 {
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        .HomeContent h2 {
            font-size: 3rem;
        }
        .HomeContent p {
            margin-top: 1rem;
            font-size: 1.5rem;
        }
    
    /*About Section*/
        .AboutContainer{
            display: grid;
            grid-template-columns: auto;
            align-items: center;
            justify-self: center;
            width: 100%;
            margin: 0 auto;
            height: 130vh;
            
        }
        .AboutContent {
            text-align: center;
            margin-bottom: 4rem;
            width: 100%;
        }
        .AboutContent h1 {
            font-size: 2.5rem;
            margin-top: 2rem;
        }
        .AboutList {
            font-size: 2rem;
    
        }
    
    /*Footer Section*/
    .Footer {
        margin: auto;
        
    }
    .FooterContainer {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin:0;
        max-height: 0;
        padding: 50px;
    }
        
    }
    
    @media screen and (max-width: 480px) {
    
    /*Home Section*/
        .HomeContent h1 {
            font-size: 2rem;
            margin-top: 3rem;
        }
        .HomeContent h2 {
            font-size: 2rem;
        }
        .HomeContent p {
            margin-top: 2rem;
            font-size: 1.5rem;
        }
    
    /*About Section*/
        .AboutContent h1 {
            font-size: 2rem;
            margin-top: 3rem;
        }
        .AboutBTN {
            padding: 12px 36px;
            margin: 2.5rem 0;
        }
    
    /*Footer Section*/
        .FooterContainer {
            padding-bottom: 50px;
        }
        .FooterHeading {
            font-size: 1.5rem;
        }
    
    }
